# Carpetas ignoradas
uploads/
ResultadosModificaciones/
VARIOS/
node_modules/
.env
.env.2.3
.env.LOCALHOST
src/debug.log

# Archivos temporales y respaldos
*.tmp
*.bk
*.bk2
*.bknuevo
*.old

# Archivos comprimidos y bases de datos
*.zip
*.tgz
*.sql